<link href="https://fonts.googleapis.com/css?family=OpenSans" rel="stylesheet">
<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: 'Open Sans',sans-serif, ;
  }

  p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
  }

  .thin-yellow-border {
    border-color: yellow;
    border-width: 5px;
    border-style: solid;
    border-radius: 75%;
  }

  .smaller-image {
    width: 100px;
  }
</style>

<h2 class="red-text">The Pittsburgh Penguins</h2>

<p>Click here for <a href="https://www.nhl.com/penguins/">Pens homepage</a>.</p>

<a href="#"><img class="smaller-image thin-yellow-border" src="https://s1.ticketm.net/tm/en-us/dam/a/f29/3e179cab-8920-4fe4-bf97-f3dff1e70f29_112641_CUSTOM.jpg" alt="Pens logo"></a>
<table>
  <tr>
    <td>Season</td>
    <td>2017</td> 
    <td>-</td>
    <td>2018</td>
  </tr>
</table>
<p>Things Pens Fans Love:</p>
<ul>
  <li>Crosby</li>
  <li>Malkin</li>
  <li>The Stanley Cup Finals</li>
</ul>
<p>Top 3 Things Pens Fans Hate:</p>
<ol>
  <li>The Blackhawks</li>
  <li>Washington Capitals</li>
  <li>Concussions</li>
</ol>
<form action="/favorite-season">
  <label><input type="radio" name="home-away"> Black</label>
  <label><input type="radio" name="home-away"> Yellow</label>
  <label><input type="checkbox" name="Player"> Crosby</label>
  <label><input type="checkbox" name="Player"> Malkin</label>
  <label><input type="checkbox" name="Player"> Murray</label>
  <input type="text" placeholder="Draft pick next season" required>
  <button type="submit">Submit</button>
</form>